<div class="content-wrap">
  <section class="white-box">
    <img src="imgs/snow.jpg" id="snow">
    <article id="about-me">
      <h2>About Me</h2>
      <p>After graduating from UPenn with a degree in engineering, I have worked in Bank of America Merrill Lynch and Accenture.</p>
      <p>Being an investment banker at Bank of America Merrill Lynch was both challenging and rewarding, however, my passion for creativity and innovation wasn't satisfied. Since I have always loved the idea of building web applications, I started exploring a career in web development and taught myself basic Ruby and Javascript, with a bit of HTML5 and CSS. </p>
          <p>The more I played around and learned, the more I became passionate about creating beautiful web applications that strive to enlighten, solve complex problems, and push innovation. So I'd like to be at that point where creativity meets functionality.  I'd like to be creative, solve problems and bring those solutions to others.</p>
    </article>
  </section>
</div>

<div class="content-wrap">
  <aside>
    <h4>Resume</h4><br>
    <a href="dev_resume_2015.pdf"><img alt="resume" src="imgs/backup-pdf.png" class="shrinkkk"></a>
  </aside>

  <section class="white-box-2">
    <h2>Universities Attended</h2>
    <h4><a href="http://www.ucla.edu/">UCLA</a></h4>
    <p><em>Jun 2013 - Jun 2014</em><br>
    Master of Science, Chemistry.</p>
    <hr>
    <h4><a href="http://www.ucr.edu/">UC Riverside</a></h4>
    <p><em>Sep 2009 - Jun 2013</em><br>
    Bachelor of Science, Chemistry.</p>
  </section>

  <section class="white-box-2">
    <h2>Developer Skills</h2>
    <p>Ruby on Rails, HTML/CSS, JavaScript, jQuery, AngularJS, Python, NodeJS, SQL, Git(hub), agile development, object-orientation, functional programming, <em>more to come...</em></p>
  </section>
</div>
