<div class="content-wrap">
  <section class="white-box">
    <img src="imgs/derek.jpg" id="snow">
    <article id="about-me">
      <h2>About Me</h2>
      <p>Derek Tang is an Investment Banking Associate at Bank of America Merrill Lynch (BofAML), focused primarily on advising large-cap corporate clients in the Engineering & Industrials sectors. He joined BofAML in 2010 as an Analyst and was promoted to associate after three years in the global banking and markets analyst program at BofAML with experiences in Sales & Trading, Credit & Market Risk and Capital Markets. Mr. Tang has 7 years of professional experience in Banking and Consulting. </p>
        <p>Prior to joining BofAML, Mr. Tang was a consulting analyst at Accenture, covering system integration & technology clients such as Oracle and SAP. Mr. Tang graduated from Columbia University with a B.S. in Applied Mathematics and holds a M.S. in Engineering from University of Pennsylvania. Mr. Tang also has native proficiency in Chinese Mandarin.  </p>
    </article>
  </section>
</div>

<div class="content-wrap">
  <aside>
    <h4>Resume</h4><br>
    <a href="dev_resume_2015.pdf"><img alt="resume" src="imgs/backup-pdf.png" class="shrinkkk"></a>
  </aside>

 <section class="white-box-2">
    <h2>Universities Attended</h2>
    <h4><a href="http://www.upenn.edu/">Penn</a></h4>
    <p><em>Sept 2009 - Dec 2010</em><br>
    Master of Science, Engineering</p>
    <hr>
    <h4><a href="http://www.columbia.edu/">Columbia</a></h4>
    <p><em>Sep 2003 - Jun 2007</em><br>
    Bachelor of Science, Applied Math</p>
  </section>

  <section class="white-box-2">
    <h2>Financial Skills</h2>
    <p>Excel, VBA, SQL, Bloomberg, Corporate Finance, Accounting, Merger & Acquisition, Municipal Markets, Trading</p>
    <h2>Programming Skills</h2>
    <p>Ruby on Rails, HTML/CSS, JavaScript, jQuery, AngularJS, Python, NodeJS, SQL, Git(hub), agile development, object-orientation, functional programming, <em>more to come...</em></p>
  </section>
</div>
