<div class="content-wrap">
  <section class="white-box">
    <img src="imgs/snow.jpg" id="snow">
    <article id="about-me">
      <h2>About Me</h2>
      <p>I was working in a chemistry research lab in LA when I starting using an open-source program called PyMOL. It involved a bit of python scripting and I got <em>hooked</em>! Having found my true passion, programming, I began studying python and computer science to be reborn. I like programming because unlike in chemistry, you can create something out of nothing. When you have an idea, you just have to code it!</p>
      <p>I've mastered the art of saying things that aren't technically incorrect, as all scientists must do. I'm really good at cooking a mean breakfast, eating quantities of food that would be <em>fatal</em> to others, and getting a farmer's tan. I enjoy all forms of racquet-based sports. I'll pretty much do anything in exchange for sushi. I can't live without memory foam! Or the internet. I'm an avid fan of music that everybody hates. I enjoy the outdoors. And the indoors. The doorways between the two are just okay. I like to take innocent games and foul them by turning them into drinking games, such as Mario Kart.</p>
    </article>
  </section>
</div>

<div class="content-wrap">
  <aside>
    <h4>Resume</h4><br>
    <a href="dev_resume_2015.pdf"><img alt="resume" src="imgs/backup-pdf.png" class="shrinkkk"></a>
  </aside>

  <section class="white-box-2">
    <h2>Universities Attended</h2>
    <h4><a href="http://www.ucla.edu/">UCLA</a></h4>
    <p><em>Jun 2013 - Jun 2014</em><br>
    Master of Science, Chemistry.</p>
    <hr>
    <h4><a href="http://www.ucr.edu/">UC Riverside</a></h4>
    <p><em>Sep 2009 - Jun 2013</em><br>
    Bachelor of Science, Chemistry.</p>
  </section>

  <section class="white-box-2">
    <h2>Developer Skills</h2>
    <p>Ruby on Rails, HTML/CSS, JavaScript, jQuery, AngularJS, Python, NodeJS, SQL, Git(hub), agile development, object-orientation, functional programming, <em>more to come...</em></p>
  </section>
</div>
