<div class="content-wrap">
  <div ui-view></div>

  <section class="white-box-3">
    <h2>Science Blog</h2>
    <img src="imgs/science.png">
    <h4>Posts:</h4>
    <a ui-sref="s3-chemophobia">Chemophobia</a><br>
    <a ui-sref="s2-prop-65">California Prop. 65</a><br>
    <a ui-sref="s1-teixobactin">Teixobactin</a>
  </section>

  <section class="white-box-3">
    <h2>Programming Blog</h2>
    <img src="imgs/matrix.jpg">
    <h4>Posts:</h4>
    <a ui-sref="t8-tech">Recursive Functions</a><br>
    <a ui-sref="t7-javascript">Ruby vs. JavaScript Loops</a><br>
    <a ui-sref="t6-array-proc">Ruby #to_proc Method</a><br>
    <a ui-sref="t5-ruby-classes">Enumerators</a><br>
    <a ui-sref="t4-enumerable-methods">Enumerable Methods</a><br>
    <a ui-sref="t3-arrays-hashes">Ruby Data Structures</a><br>
    <a ui-sref="t2-css-design">Displaying Content in HTML/CSS</a><br>
    <a ui-sref="t1-git-blog">Git and Github</a>
  </section>

  <section class="white-box-3">
    <h2>Tech Culture Blog</h2>
    <img src="imgs/tech-culture.jpg">
    <h4>Posts:</h4>
    <a ui-sref="c12-feminism">Feminism in Tech</a><br>
    <a ui-sref="c11-aliases">Aliases</a><br>
    <a ui-sref="c10-snippets">Snippets</a><br>
    <a ui-sref="c9-completions">Completions</a><br>
    <a ui-sref="c6-stereotype-threat">Stereotype Threat</a><br>
    <a ui-sref="c5-feedback">Pairing and Feedback</a><br>
    <a ui-sref="c4-tech-issues">Lack of Diversity</a><br>
    <a ui-sref="c3-thinking-style">Growth vs. Fixed Mindset</a>
  </section>
  <br style="clear:both">
</div>