<div class="content-wrap">
  <div ui-view></div>

  <section class="white-box-3">
    <h2>Tech</h2>
    <img src="imgs/tech.jpg">
    <h4>Posts:</h4>
    <a ui-sref="s3">TBA</a><br>

  </section>

  <section class="white-box-3">
    <h2>Markets</h2>
    <img src="imgs/markets.jpg">
    <h4>Posts:</h4>
    <a ui-sref="t8">TBA</a><br>

  </section>

  <section class="white-box-3">
    <h2>Fun stuff</h2>
    <img src="imgs/fun.jpg">
    <h4>Posts:</h4>
    <a ui-sref="c12">TBA</a><br>

  </section>
  <br style="clear:both">
</div>