<div class="content-wrap">
  <aside>
    <h4><a href="#">Resume Coming Soon</a></h4>
    <p>Bacon ipsum dolor amet pork chop ground round ham sirloin. Cupim strip steak beef ribs kielbasa pork short loin pork loin bresaola shoulder jowl chicken leberkas porchetta prosciutto. Picanha t-bone ground round capicola tail, pork prosciutto pork loin tri-tip. Ground round biltong pork chop capicola. Pork filet mignon strip steak, pastrami drumstick shankle alcatra.</p>
  </aside>

  <section class="white-box-2">
    <h2>Dev Bootcamp</h2>
    <p><em>Feb 2015 - current</em><br>
    Learning programming and web development.</p>
  </section>

  <section class="white-box-2">
    <h2>Universities Attended</h2>
    <h4><a href="http://www.ucla.edu/">UCLA</a></h4>
    <p><em>Jun 2013 - Jun 2014</em><br>
    Master of Science, Chemistry.</p>
    <hr>
    <h4><a href="http://www.ucr.edu/">UC Riverside</a></h4>
    <p><em>Sep 2009 - Jun 2013</em><br>
    Bachelor of Science, Chemistry.</p>
  </section>

  <section class="white-box-2">
    <h2>Developer Skills</h2>
    <p>HTML/CSS, JavaScript, jQuery, AngularJS, ReactJS, Ruby, SQL, Git, <em>more to come...</em></p>
  </section>
</div>