<div class="content-wrap">
  <section class="white-box">
    <article><h2>Projects</h2></article>

    <article>
    	<h3>
        <a href="http://teamdarity.herokuapp.com">Darity (Dares for Charity)</a>
        <a href="https://github.com/ch33sybr3ad/Darity"><i class="fa fa-github-square"></i></a>
      </h3>
    	<div class="icons">
    		<span class="icon-ruby"></span>
    		<span class="icon-ruby-on-rails-alt"></span>
    		<span class="icon-javascript"></span>
    		<span class="icon-html"></span>
    		<span class="icon-css"></span>
    		<span class="icon-heroku"></span>
    		<span class="icon-postgres"></span>
    	</div>
      <p>Darity is a social media platform that allows users to interact through challenging each other to do dares. Those being challenged can set a dollar amount requirement before doing the dare and uploading a video online. The proceeds will go to charity.</p>
    </article>
    <article>
      <h3>
        <a href="http://wordasaurus.herokuapp.com/">Wordasaurus</a>
        <a href="https://github.com/acarl005/wordasaurus"><i class="fa fa-github-square"></i></a>
      </h3>
      <div class="icons">
        <span class="icon-ruby"></span>
        <img src="imgs/angularjs.svg" alt="angular.js" class="shrinkkkk svg inline">
        <span class="icon-javascript"></span>
        <span class="icon-html"></span>
        <span class="icon-css"></span>
        <span class="icon-heroku"></span>
        <span class="icon-postgres"></span>
      </div>
      <p>Wed-based text editting environment to help expand your vocabulary and improve your writing.</p>
    </article>
    <article>
      <h3>
        <a href="http://sipster.io">Sipster</a>
      </h3>
      <div class="icons">
        <img src="imgs/angularjs.svg" alt="angular.js" class="shrinkkkk svg inline">
        <span class="icon-nodejs"></span>
        <span class="icon-html"></span>
        <span class="icon-css"></span>
        <span class="icon-heroku"></span>
        <span class="icon-mysql"></span>
      </div>
      <p>Crowd-sourced web platform that lets you find the soonest happy hour near you using geolocation.</p>
    </article>
    <article>
      <h3>
        <a href="./grocery-list">Grocery List App</a>
        <a href="https://github.com/acarl005/acarl005.github.io/tree/master/grocery-list"><i class="fa fa-github-square"></i></a>
      </h3>
      <div class="icons">
        <img src="imgs/reactjs.svg" alt="react.js" class="shrinkkkk inline svg">
        <span class="icon-javascript"></span>
        <span class="icon-html"></span>
        <span class="icon-css"></span>
        <img src="imgs/Boostrap.svg" alt="bootstrap" class="inline svg shrinkkkk">
      </div>
      <p>Simple, interactive grocery list app to practice using ReactJS and MVC style JavaScript.</p>
    </article>
  </section>
</div>