<div class="content-wrap">
  <section class="white-box">
    <article><h2>Projects</h2></article>

    <article>
    	<h3>
        <a href="http://bikeready.herokuapp.com">Bike Ready</a>
        <a href="https://github.com/hsuttong/bikeready"><i class="fa fa-github-square"></i></a>
      </h3>
    	<div class="icons">
    		<span class="icon-ruby"></span>
    		<span class="icon-ruby-on-rails-alt"></span>
    		<span class="icon-javascript"></span>
    		<span class="icon-html"></span>
    		<span class="icon-css"></span>
    		<span class="icon-heroku"></span>
    		<span class="icon-postgres"></span>
    	</div>
      <p>Bike Ready is an online platform that allows users to pick up and drop off their bike and have it stored conveniently at anytime, anywhere</p>
    </article>
