<div class="container">
  <div class="well">
    <h4>List all existing branches</h4>
    <code>$ git branch</code>
    <h4>Switch HEAD branch</h4>
    <code>$ git checkout &ltbranch&gt</code>
    <h4>Create a new branch based on your current HEAD</h4>
    <code>$ git branch &ltnew-branch&gt</code>
    <h4>Create a new tracking branch based on a remote branch</h4>
    <code>$ git checkout --track &ltremote/branch&gt</code>
    <h4>Delete a local branch</h4>
    <code>$ git branch -d &ltbranch&gt</code>
    <h4>Mark the current commit with a tag</h4>
    <code>$ git tag &lttag-name&gt</code>
  </div>
</div>