<div class="container">
  <div class="well">
    <h4>Changed files in your working directory</h4>
    <code>$ git status</code>
    <h4>Changes to tracked files</h4>
    <code>$ git diff</code>
    <h4>Add all current changes to the next commit</h4>
    <code>$ git add .</code>
    <h4>Add some changes in &ltfile&gt to the next commit</h4>
    <code>$ git add -p &ltfile&gt</code>
    <h4>Commit all local changes in tracked files</h4>
    <code>$ git commit -a</code>
    <h4>Commit previously staged changes</h4>
    <code>$ git commit</code>
    <h4>Change the last commit</h4>
    <h5>Don‘t amend published commits!</h5>
    <code>$ git commit --ammend</code>
  </div>
</div>