<div class="container">
  <div class="well">
    <h4>Merge &ltbranch&gt into your current HEAD</h4>
    <code>$ git merge &ltbranch&gt</code>
    <h4>Rebase your current HEAD onto &ltbranch&gt</h4>
    <h5>Don't rebase published commits!</h5>
    <code>$ git rebase &ltbranch&gt</code>
    <h4>Abort a rebase</h4>
    <code>$ git rebase --abort</code>
    <h4>Continue a rebase after resolving conflicts</h4>
    <code>$ git rebase --continue</code>
    <h4>Use your configured merge tool to solve conflicts</h4>
    <code>$ git mergetool</code>
    <h4>Use your editor to manually solve conflicts and (after resolving) mark file as resolved</h4>
    <code>$ git add &ltresolved-file&gt</code><br>
    <code>$ git rm &ltresolved-file&gt</code>
  </div>
</div>