<div class="container">
  <div class="well">
    <h4>Discard all local changes in your directory</h4>
    <code>$ git reset --hard HEAD</code>
    <h4>Discard local changes in a specific file</h4>
    <code>$ git checkout HEAD &ltfile&gt</code>
    <h4>Revert a commit (by producing a new commit with contrary changes)</h4>
    <code>$ git revert &ltcommit&gt</code>
    <h4>Reset your HEAD pointer to a previous commit</h4>
    <h4>…and discard all changes since then</h4>
    <code>$ git reset --hard &ltcommit&gt</code>
    <h4>…and preserve all changes as unstaged changes</h4>
    <code>$ git reset &ltcommit&gt</code>
    <h4>…and preserve uncommitted local changes</h4>
    <code>$ git reset --keep &ltcommit&gt</code>
  </div>
</div>