<div class="container">
  <div class="well">
    <h4>List all currently configured remotes</h4>
    <code>$ git remote -v</code>
    <h4>Show information about a remote</h4>
    <code>$ git remote show &ltremote&gt</code>
    <h4>Add new remote repository, named &ltremote&gt</h4>
    <code>$ git remote add &ltremote&gt &lturl&gt</code>
    <h4>Download all changes from &ltremote&gt, but don‘t integrate into HEAD</h4>
    <code>$ git fetch &ltremote&gt</code>
    <h4>Download changes and directly merge/integrate into HEAD</h4>
    <code>$ git pull &ltremote&gt &ltbranch&gt</code>
    <h4>Publish local changes on a remote</h4>
    <code>$ git push &ltremote&gt &ltbranch&gt</code>
    <h4>Delete a branch on the remote</h4>
    <code>$ git branch -dr &ltremote/branch&gt</code>
    <h4>Publish your tags</h4>
    <code>$ git push --tags</code>
  </div>
</div>